.jugadores{
    width: 400px;
    font-size: 20px;
    height: 120px;
}

.error{
    color: red;
}

.container{
    font-size: 30px;
    position:relative;
    top: 250px;
    text-align: center;
    background: hsl(0, 0%, 98%,.8);
    max-width: 70%;

    margin: auto;
    padding: 10px 20px;
 
 
}

