.jugadores{
    width: 400px;
    font-size: 20px;
    height: 120px;
}

.error{
    color: red;
}

.container{
    font-size: 30px;
    position:relative;
    top: 250px;
    text-align: center;
    background:#000000b1;
    max-width: 70%;
    margin: auto;
    padding: 10px 20px;
}

.navbar{
    background-color: rgb(17, 17, 17)!important;
  }
  .navbar-brand{
    color: white;
  }

