<body>
  <nav class="navbar bg-light" id="navar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.png" alt="" width="30" height="35" class="d-inline-block align-text-top">
        MarvelCards
      </a>
      <button  mat-flat-button color="primary" type="button" (click)="btnLogout()">Cerrar seccion</button>
    </div>
  </nav>
<div class="descripcion">
    <h1>Ronda #: {{numeroRonda}}</h1>
    <h1>Jugadores: {{jugadoresRonda}}</h1>
    <div class="tiempo">
        <h1>Cuenta Regresiva {{tiempo}}</h1>
        <button type="button" (click)="iniciarRonda()" [disabled]="!btnIniciarHabilitado">Iniciar</button>
    </div>
</div>
    <div class="tarjetas"  >
            <div class="card" *ngFor="let card of cartasDelTablero" >
              <div class="card2" id="card1">
                <span>PX: {{card.poder}}</span>
                <img  src="{{card.url}}" />
                  
              </div>
            </div>
    </div>

<div class="mazo" >
        <div class="card" *ngFor="let card of cartasDelJugador">
            <div class="card2" id="card1">
              <span>PX: {{card.poder}}</span>
                <br>
                <button (click)="poner(card.cartaId)">Poner</button>
              <img  src="{{card.url}}" />
                
            </div>
          </div>
        
</div>

</body>


