::-webkit-scrollbar {
  display: none;

}


.descripcion{
    background-color: rgba(6, 25, 43, 0.7);
    border-radius: 30px;
    text-align:left;
    max-width: 65%;
    padding: 30px 30px;
    margin: 40px;
    


    // overflow: hidden;
  }

  .tiempo{
  max-width: 30%;
   display: flex;
   justify-content: space-between;
   position: relative;
   left: 20%;
   padding: 10px;
   bottom: 80px;

  }

  .partidad{
    background-color: rgba(110, 180, 245, 0.7);
    border-radius: 30px;
    text-align: center;
    max-width: 65%;
    
    
  }
  .mazo{
    background:#00000085;
    border-radius: 30px;
    display: grid;
    gap:1em ;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    max-width: 25%;
    left: 1700px;
    padding: 30px 30px;
    position: relative;
    bottom:700px;
   
  }

  .tarjetas{
    display: flex;
    gap:1em ;
    background:#000000b5;
    position: relative;
    height: 100%;
   max-width: 65%;
    padding: 200px;
    border-radius: 30px;
    text-align: center;
    margin:40px ;
    
  }

 /* From uiverse.io by @Tiagoadag */
.card {
    width: 190px;
    height: 254px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    
   
   }
   
   .card2 {
    width: 190px;
    height: 254px;
    background-color: #1a1a1a;
    border-radius:10px;
    transition: all .2s;
    
   }
   .card2 img{
    width: 150px;
    height: 214px;
    background-size:cover ;
    background-repeat: no-repeat;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }

   
  