<body>
  <nav class="navbar bg-light" id="navar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.png" alt="" width="30" height="35" class="d-inline-block align-text-top">
        MarvelCards
      </a>
      <button  mat-flat-button color="primary" type="button" (click)="btnLogout()">Cerrar seccion</button>
    </div>
  </nav>
<div class="descripcion">
    <h1>Ronda #10</h1>
    <h1>Jugadores</h1>
    <div>
        <h1>Tiempo: 50s</h1>
        <button>Iniciar</button>
    </div>
</div>
<div class="partidad">
    <div class="tarjetas">
            <div class="card">
                <div class="card2">
                    <span>PX:10</span>
                    <br>
                </div>
              </div>
              <div class="card">
                <div class="card2">
                    <span>PX:10</span>
                    <br>
                </div>
              </div>
              <div class="card">
                <div class="card2">
                    <span>PX:10</span>
                    <br>
                </div>
              </div>
              <div class="card">
                <div class="card2">
                    <span>PX:10</span>
                    <br>
                </div>
              </div>
              <div class="card">
                <div class="card2">
                    <span>PX:10</span>
                    <br>
                </div>
              </div>
              <div class="card">
                <div class="card2">
                    <span>PX:10</span>
                    <br>
                </div>
               </div>
    </div>
</div>
<div class="mazo">
        <div class="card">
            <div class="card2" id="card1">
                <span>PX:10</span>
                <br>
                <button>Poner</button>
            </div>
          </div>
          <div class="card">
            <div class="card2" id="card2">
                <span>PX:10</span>
                <br>
                <button>Poner</button>
            </div>
          </div>
          <div class="card">
            <div class="card2" id="card3">
                <span>PX:10</span>
                <br>
                <button>Poner</button>
            </div>
          </div>
</div>

</body>


