

body {
    background-image: url("./assets/img/pexels-erik-mclean-7768661.jpg"); 
    background-size: cover;
    background-repeat:no-repeat ;
    color: white !important;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    }

