.list-group{
    position: relative;
    margin-top: 20px;
    width: 500px;
    top: 22%;
    left: 37%;
  }
  .title-list{
    position: relative;
    margin-top: 100px;
    top: 50%;
    left: 30%;
  }