<nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.png" alt="" width="40" height="45" class="d-inline-block align-text-top">
        MarvelCards
      </a>
    </div>
  </nav>
  
<div class="login">
  <button    type="button" (click)="btnLogin()">
    <span>login con Google</span>
    <div class="top"></div>
    <div class="left"></div>
    <div class="bottom"></div>
    <div class="right"></div>
</button>
    
</div>